<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <cpn :number1="num1" :number2="num2" @num1change1="cpnClick"></cpn>
</div>
<template id="cpn">
    <div>
        <h1>props {{number1}}</h1>
        <h1>data {{dnumber1}}</h1>
<!--        <input type="text" v-model="dnumber1">-->
        <input type="text" :value="dnumber1" @input="num1Change">
        <h1>props {{number2}}</h1>
        <h1>data {{dnumber2}}</h1>
        <input type="text" v-model="dnumber2">
    </div>
</template>
<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            num1: 1,
            num2: 2
        },
        components: {
            cpn: {
                template: `#cpn`,
                props: {
                    number1: Number,
                    number2: Number
                },
                data() {
                    return {
                        dnumber1: this.number1,
                        dnumber2: this.number2
                    }
                },
                methods:{
                    num1Change(event){
                        this.dnumber1 = event.target.value
                        this.dnumber2 = this.dnumber1 * 100
                        console.log(this.dnumber1)
                        this.$emit('num1change1',this.dnumber1)
                    }
                }
            }
        },
        methods:{
            cpnClick(item) {
                this.num1 = parseInt(item)
            }
        }
    })
</script>
</body>
</html>